In [5]:
import boto3
import requests
import pandas as pd

In [8]:
url = "https://dados-ml-pln.s3.sa-east-1.amazonaws.com/tickets_reclamacoes_classificados.csv"

local_filename = "../src/data/01_raw/tickets_reclamacoes_classificados.csv"

import os
if not os.path.exists(os.path.dirname(local_filename)):
    os.makedirs(os.path.dirname(local_filename))

response = requests.get(url)

with open(local_filename, 'wb') as file:
    file.write(response.content)

print(f"Arquivo salvo com sucesso em: {local_filename}")

Arquivo salvo com sucesso em: ../src/data/01_raw/tickets_reclamacoes_classificados.csv

In [10]:
df = pd.read_csv("../src/data/01_raw/tickets_reclamacoes_classificados.csv", sep=";")

In [11]:
df.head()

,id_reclamacao,data_abertura,categoria,descricao_reclamacao
0,3229299,2019-05-01T12:00:00-05:00,Hipotecas / Empréstimos,"Bom dia, meu nome é xxxx xxxx e agradeço se vo..."
1,3199379,2019-04-02T12:00:00-05:00,Cartão de crédito / Cartão pré-pago,Atualizei meu cartão xxxx xxxx em xx/xx/2018 e...
2,3233499,2019-05-06T12:00:00-05:00,Cartão de crédito / Cartão pré-pago,O cartão Chase foi relatado em xx/xx/2019. No ...
3,3180294,2019-03-14T12:00:00-05:00,Cartão de crédito / Cartão pré-pago,"Em xx/xx/2018, enquanto tentava reservar um ti..."
4,3224980,2019-04-27T12:00:00-05:00,Serviços de conta bancária,"Meu neto me dê cheque por {$ 1600,00} Eu depos..."